@main("FaRBIE", true, scripts) {
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

    <div class="col-md-12" id="containersearch">
    </div>
}

@scripts = {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/translation.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/search.js")'></script>
}